/* fim: 02/10/2024 - 10:55 */
body {
    font-family: Arial, sans-serif; /* define a fonte da página */
    background-color: #e9f3ff; /* cor de fundo da página */
    margin: 0; /* remove as margens padrão do corpo */
    padding: 20px; /* adiciona espaçamento interno */
}

h1, h2 {
    color: #003366; 
    text-align: center; /* centraliza o titulo */
}

/* estilo do formulário */
form {
    background: #ffffff; 
    padding: 20px; 
    border-radius: 5px; /* cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* sombra do formulário */
    max-width: 400px; /* largura máxima do formulário */
    margin: auto; /* centraliza o formulário na página */
}

/* estilo dos rótulos */
label {
    display: block; /* faz com que o rótulo ocupe toda a linha */
    margin-bottom: 5px; 
    color: #003366; 
}

/* estilo dos campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"] {
    width: 380px; /* largura disponível */
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #007bff; 
    border-radius: 5px; 
}

/* estilo do botão de envio */
input[type="submit"] {
    background-color: #007bff; 
    color: white; 
    border: none; /* remove a borda do botão */
    cursor: pointer; /* muda o cursor ao passar sobre o botão */
    width: 400px;
}

/* estilo do botão em hover */
input[type="submit"]:hover {
    background-color: #0056b3; /* cor do botão ao passar o mouse */
}

/* estilo do botão ativo */
input[type="submit"]:active {
    background-color: #004085; /* cor do botão ao clicar*/
}

/* estilo da tabela */
table {
    margin: auto;
    width: 90%; 
    border-collapse: collapse; /* remove espaçamento entre as células */
}

th, td {
    border: 1px solid #007bff; 
    padding: 8px; 
    text-align: left; /* alinhamento do texto à esquerda */
}

th {
    background-color: #007bff; 
    color: white; 
}

tr:nth-child(even) {
    background-color: #f2f8ff; 
}

tr:hover {
    background-color: #cce5ff; 
}
